<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
	<menu id="root-menu" label="root-menu">
		<item label="Logout">
			<action name="Execute"><command>labwc --exit</command></action>
		</item>
		<item label="Suspend">
			<action name="Execute"><command>sudo zzz</command></action>
		</item>
		<item label="Restart">
			<action name="Execute"><command>sudo reboot</command></action>
		</item>
		<item label="Shutdown">
			<action name="Execute"><command>sudo poweroff</command></action>
		</item>
		<separator/>
		<item label="Terminal">
			<action name="Execute"><command>foot</command></action>
		</item>
		<item label="VS Code">
				<action name="Execute"><command>code-oss</command></action>
			</item>
		<item label="Firefox">
			<action name="Execute"><command>firefox</command></action>
		</item>
		<item label="File Manager">
			<action name="Execute"><command>pcmanfm</command></action>
		</item>
		<separator/>
		<item label="Launcher">
			<action name="Execute"><command>wofi --show=drun</command></action>
		</item>
	</menu>
</openbox_menu>
